.NowShowingPage {
   pointer-events: none;
   cursor: default;
}

form {
   text-align: left;
   font-weight: bold;
}

#KGF2, #Pushpa, #RRR {
   width: 300px;
   height: 300px;
   border: solid black;
   position: relative;
   top: 50px;
   left: 200px;
}

fieldset {
   width: 200px;
   position: relative;
   bottom: 175px;
   left: 600px;
   border:3px solid rgb(37, 19, 103);
}

legend {
  padding: 0.2em 0.5em;
  border:3px solid green;
  color:white;
  font-size:150%;
  text-align:center;
}

select {
   width: 280px;
   height: 34px;
   overflow: hidden;
   background: url('../Images/arrow.jpg') no-repeat right #ddd;
   border: 1px solid rgb(101, 2, 2);
   -webkit-appearance: none;
}




